<section class="experience-section">
  <h2><!-- {{section.title}} --></h2>
  <!-- {{BEGIN:experience}} -->
  <div class="experience-item">
    <div class="item-header">
      <div>
        <div class="company">
          <a href="<!-- {{url}} -->" target="_blank"><!-- {{organization}} --></a>
          <!-- {{IF:tags}} -->
          <span class="company-tags">
            <!-- {{BEGIN:tags}} -->
            <span class="company-tag"><!-- {{item}} --></span>
            <!-- {{END:tags}} -->
          </span>
          <!-- {{END_IF:tags}} -->
        </div>
        <div class="position"><!-- {{position}} --></div>
      </div>
      <div class="date">
        <!-- {{startDate}} -->
        -
        <!-- {{endDate}} -->
      </div>
    </div>
    <ul class="desc-list">
      <!-- {{BEGIN:descriptions}} -->
      <li><!-- {{item}} --></li>
      <!-- {{END:descriptions}} -->
    </ul>
  </div>
  <!-- {{END:experience}} -->
</section>
